.wrapper {
  background: black;
  padding: 1rem;
  color: white;
  font-size: 2rem;
  &.inverted {
    // inverted 가 wrapper와 함께 사용하기 때문에 & 적용
    color: black;
    background: white;
    border: 1px solid black;
  }
}

/* 글로벌 css를 작성하고 싶다면 */
:global {
  .something {
    font-weight: 800;
    color: aqua;
  }
}
